<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-shield-lock-fill me-2 text-success"></i>HashPass
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <div class="d-flex ms-auto align-items-center gap-3">
                <a class="btn btn-outline-light rounded-pill" href="/register">Registrate ya !</a>
                <a class="btn btn-primary rounded-pill" href="/login">Acceder a mi Bóveda</a>
            </div>
        </div>
    </div>
</nav>
